/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    position: relative;
}
main{
    width: min(90%, 60em);
}

.container{
    display: flex;
    box-shadow: 0px 5px 100px hsl(210, 17%, 86%);

}
.overlay{
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    position: absolute;
    transition: all 0.4s;
}

.lay{
    background-color: hsl(214, 6%, 24%);
    z-index: 15;
    opacity: 0.5;
}
.drawer{
    width: 38%;
    border-top-left-radius:  10px;
    border-bottom-left-radius:  10px;
    z-index: 1;
}
.section{
    background-color: white;
    width: 70%;
    padding: 2em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    
}
.sub__section{
    width: 100%;
}

.bottom__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.bottom__profile{
    display: flex;
    gap: 7px;
    align-items: center;
    width: 50%;
}

.bottom__img{
    width: 20%;
    border-radius: 50%;
}

h1{
    margin-bottom: 1em;
    color: hsl(217, 19%, 35%);
}

h2{
    font-size: 1em;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.icon__share{
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(210, 46%, 95%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 20;
}
.icon__share:hover{
    background-color:hsl(203, 4%, 57%);
}
.icon__share:hover img{
    filter: brightness(10);
}


.sub__p{
    color: hsl(214, 17%, 51%);
}
.bottom__p{
    color: hsl(212, 23%, 69%);
}

.social__media{
    background-color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 51%);
    display: flex;
    justify-content: space-around;
    padding: 1em;
    width: 15em;
    position: absolute;
    left: 71%;
    bottom: 30%;
    /* box-shadow: 0px 5px 10px hsl(216, 24%, 65%); */
    border-radius: 10px;
    transition: all 0.2s;
    transform: scaleY(0);
    z-index: 20;
}
.social__media:after {
    content: '';
    position: absolute;
    display: block;
    width:0;
    z-index: 20;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent;
    border-width: 15px;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
}

.social__img{
    transition: all 0.3s;
    cursor: pointer;
}
.social__img:hover{
    transform: translateY(-5px);
}


.social__p{
    letter-spacing: 3px;
}
.social__img{
    width: 1.4em;
}
.fb{
    border-radius: 3px;
}
.active{
    visibility: visible;
    transform: scaleY(1);
}
.not-active{
    visibility: hidden;
}

@media(max-width: 864px){
    .social__media{
    left: 55%;
    bottom: 20% ;
    }
}
@media(max-width: 750px){
    main{
       width: min(90%,25em);
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .section{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .drawer{
        width: 100%;
        height: 17em;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .icon__share{
        z-index: 99;
    }
    .social__media{
        width: 100%;
        left: 0%;
        bottom: 0%;
        justify-content: flex-start;
        gap: 1.5em;
        height: 7em;
        align-items: center;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 98;
    }
    .social__media:after{
        display: none;
    }
}